[Unit]
Description=mealie

[Service]
Restart=on-failure
TimeoutStartSec=900
CPUQuota=50%

[Container]
Image=docker.io/hkotel/mealie:latest
ContainerName=mealie
HostName=%H
PublishPort=9000:9000

Environment=BASE_URL=https://<BASE_URL>:<PORT>
Environment=RECIPE_PUBLIC=true
Environment=RECIPE_SHOW_NUTRITION=true
Environment=RECIPE_SHOW_ASSETS=true
Environment=RECIPE_LANDSCAPE_VIEW=true
Environment=RECIPE_DISABLE_COMMENTS=false
Environment=RECIPE_DISABLE_AMOUNT=false

Volume=%h/mealie/data:/app/data:Z

[Install]
WantedBy=default.target